@tailwind base;
@tailwind components;
@tailwind utilities;

.liveletter-container {
  @apply max-w-3xl container mx-auto p-4;
}

.ProseMirror:focus {
    outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
